@media (max-width: 640px) {
    .responsive-box{
        font-size: 10px;
        gap: 15px;
    }

}

/* Orta boy cihazlar (tablet) */
@media (min-width: 641px) and (max-width: 1023px) {
  .responsive-box {
    font-size: 14px;
    gap: 15px;
  }
}

/* Büyük cihazlar (desktop) */
@media (min-width: 1024px) {
  .responsive-box {
    font-size: 16px;
    gap: 15px;
  }
}

/*RESAULT İNPUTS*/

/* Mobile - varsayılan değer */
.Resaultwidth {
  width: 140px;
  height: 40px;
}



@media (max-width: 1024px) {
  .mainwidth {
    width: 980px;
  }
}




